.body {
  background-color: #222222;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17vh;
}

.inputEmail,
.inputLogPassword {
  width: 90vw;
  border-radius: 10px;
  height: 3.5rem;
  border: none;
  margin-bottom: 40px;
}

.inputEmail,
.inputLogPassword,
::placeholder {
  padding-left: 20px;
  font-size: 1.1rem;
  color: #5abdb2;
}

.inputLogPassword,
.inputEmail {
  background-color: #222222;
}

.inputEmail {
  color: #0099ff;
}
.inputLogPassword {
  margin-bottom: 10vh;
  color: #ff0055;
}

.loginbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  height: 70vw;
  max-height: 70px;
  background-color: #00cc88;
  color: #222222;
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .inputLogPassword,
  .inputEmail {
    width: 30vw;
    height: 4.5rem;
  }
  .inputLogPassword {
    margin-bottom: 8vh;
  }
  .loginbutton {
    width: 30vw;
    height: 4rem;
  }
}
