.register-title h2 {
  margin-bottom: 4px;
  text-align: center;
  margin-top: 3vh;
  font-weight: 300;
  font-size: 1.5rem;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputFirstname,
.inputLastname,
.inputOffice,
.inputEmail,
.inputPassword {
  width: 40vw;
  border-radius: 10px;
  height: 3.8rem;
  border: none;
  margin-bottom: 40px;
  background-color: #222222;
}

.inputFirstname,
.inputLastname,
.inputOffice,
.inputEmail,
.inputPassword,
::placeholder {
  padding-left: 20px;
  font-size: 1.1rem;
  color: #5abdb2;
}

.regbutton {
  width: 40vw;
  max-width: 500px;
  height: 3.8rem;
  max-height: 70px;
  background-color: #00cc88;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.3rem;
}
