.connexion-container {
  background-color: #222222;
}
.div-logo-connexion {
  height: 2vh;
}
.div-logo-connexion img {
  width: 40vw;
  height: 40vh;
}

.connexion-container h2 {
  color: white;
  font-size: 2rem;
}
