.connexion-container {
  background-color: #222222;
  height: 50vh;
}

img.logo-connexion {
  width: 20vw;
  height: 20vh;
}

div.div-logo-connexion {
  margin-top: -430px;
  margin-left: 5rem;
}

div.div-link1 {
  margin-top: -80px;
  margin-left: 520px;
}

div.div-link2 {
  margin-top: -15px;
  margin-left: 915px;
}
