@font-face {
  font-family: "poppins";
  src: url("../src/assets/Poppins/poppins-regular-webfont.woff2")
      format("woff2"),
    url("../src/assets/Poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.ButtonMoreProjects {
  display: flex;
  justify-content: end;
  border-radius: 20px;
}

button.ButtonMoreProjects {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}
